

%div
	%a{:href=>url("/foo")} this'll return straight up json hash
%div
	%a{:href=>url("/bar")} this'll return json w/ error 400
%div
	%a{:href=>url("/baz")} this'll return index.haml w/ 400
%hr

%h2 Foobars - Lots of 'em
%table.table
	%thead
		%tr
			%th
				In
			%th
				Out
	%tbody
		-@foobars.each do |foobar|
			%tr
				%td=foobar[:name]
		%tr#new_row
			%td
				%input#new_in{:type=>"checkbox",:name=>"new_in"}
			%td
				%input#new_out{:type=>"checkbox",:name=>"new_out"}


