#oemInDIV
	%h3 OEM In
	-if @oem_in_list.nil? || @oem_in_list.length <= 0
		%span No items to display
	-else
		%table.table
			%thead
				%tr
					%th fname
					%th lname
			%tbody{"data-bind"=>"foreach: list"}
				%tr
					%td
						%input{:type=>"text", "data-bind"=>"value: fname, valueUpdate:'afterkeydown', event: {keyup: makedirty}"}
					%td
						%input{:type=>"text", "data-bind"=>"value: lname, valueUpdate:'afterkeydown', event: {keyup: makedirty}"}
					%td
						%button.btn.btn-primary{:type=>"button", "data-bind"=>"click: save, visible: dirty, css: { disabled: ajaxPending }, disable: ajaxPending"} Save Changes


:javascript
	(function($,ko,undefined){
		var bootstrappedOEMInJSONList=#{@oem_in_list.to_json};

		var OEMInModel=function(newModelJson){
			// todo - some validation of the JSON maybe ...
			var self=this;
			self._id=newModelJson._id;
			self.fname=ko.observable(newModelJson.fname);
			self.lname=ko.observable(newModelJson.lname);
			self.errors=ko.observableArray();// todo - INTEGRATE ME
			self.dirty=ko.observable(false);
			self.ajaxPending=ko.observable(false);
			self.makedirty=function(){
				self.dirty(true);
			}
			self.isdirty=function(){
				return self.dirty();
			}

			self.JSON=function(){
				return {
					_id: self._id,
					fname: self.fname(),
					lname: self.lname()
				};
			};

			self.save=function(){
				self.ajaxPending(true);
				$.ajax({
					type:"PUT",
					url:"/service/oem/in",
					data: self.JSON(),
					dataType: "json",
					success: function(data){
						self.errors.removeAll();
						self.dirty(false);
					},
					error: function(jqXHR, strStatus, strError){
						error=null;
						try{
							error=JSON.parse(jqXHR.responseText);
						}catch(e){
							error={error:"Unknown error"};
						}
						
						self.errors.removeAll();
						self.errors.push(error);
					}
				})
				.done(function(){
					self.ajaxPending(false);
				});
			};
		};

		var OEMInViewModel=function(initialJSONList){
			this.list=ko.observableArray();

			for(var i=0, iLen=initialJSONList.length; i<iLen; i++){
				this.list.push(new OEMInModel(initialJSONList[i]));
			}

			this.save=function(){
				alert('hi');
			}
		};

		ko.applyBindings(new OEMInViewModel(bootstrappedOEMInJSONList));

		// var iCounter=0;
		// var pTest={
		// 	fname:"new first name",
		// 	lname:"new last name"
		// };
		// $("button#postTestButton").click(function(e){
		// 	$.post("/service/oem/in", pTest, function(data){
		// 			$("textarea#results").text(JSON.stringify(data));
		// 	}, "json")
		// 	.fail(function(jqXHR, strStatus, strError){
		// 		error=null;
		// 		try{
		// 			error=JSON.parse(jqXHR.responseText);
		// 		}catch(e){
		// 			error={error:"Unknown error"};
		// 		}
				
		// 		alert(JSON.stringify(error));
		// 	});
		// });

		// $("button#getTestButton").click(function(e){
		// 	//$.getJSON()
		// });
	})(jQuery,ko);
