#main.foo
	%button#postTestButton post test
	%hr
	%textarea#results
	%hr
	%button#getTestButton get test
	%hr
	%textarea#getResults

:javascript
	var iCounter=0;
	var pTest={
		_id:"newName"
	};
	$("button#postTestButton").click(function(e){
		$.post("/service/oem/in", pTest, function(data){
				$("textarea#results").text(JSON.stringify(data));
		}, "json")
		.fail(function(jqXHR, strStatus, strError){
			error=null;
			try{
				error=JSON.parse(jqXHR.responseText);
			}catch(e){
				error={error:"Unknown error"};
			}
			
			alert(JSON.stringify(error));
		});
	});

	$("button#getTestButton").click(function(e){
		//$.getJSON()
	});
