!!!
%html
	%head
		%title Stuffs
		%link{:rel=>"stylesheet",:type=>"text/css",:href=>"css/bootstrap.min.css"}

		%script{:type=>"text/javascript",:src=>"js/jquery.js"}
		%script{:type=>"text/javascript",:src=>"js/bootstrap.min.js"}
		%script{:type=>"text/javascript",:src=>"js/knockout.js"}
	%body
		%h1.text-center Stuffs
		%hr
		%div{:style=>"width:1000px;margin:auto;"}
			%div=yield
			